# SQL Lab

In this lab we will learn how to use execute SQL from the ipython notebook and practice some queries on the [Northwind sample database](https://northwinddatabase.codeplex.com/) that we used in Lesson 3.1.

You can access the data with this command:

    psql -h dsi.c20gkj5cvu3l.us-east-1.rds.amazonaws.com -p 5432 -U dsi_student northwind
    password: gastudents

First of all let's install the ipython-sql extension. You can find instructions [here](https://github.com/catherinedevlin/ipython-sql).

In [1]:
# !pip install ipython-sql

Let's see if it works:

In [2]:
%load_ext sql

/home/dsi-student/anaconda2/lib/python2.7/site-packages/IPython/config.py:13: ShimWarning: The `IPython.config` package has been deprecated. You should import from traitlets.config instead.
  "You should import from traitlets.config instead.", ShimWarning)
/home/dsi-student/anaconda2/lib/python2.7/site-packages/IPython/utils/traitlets.py:5: UserWarning: IPython.utils.traitlets has moved to a top-level traitlets package.
  warn("IPython.utils.traitlets has moved to a top-level traitlets package.")

In [3]:
%%sql postgresql://dsi_student:gastudents@dsi.c20gkj5cvu3l.us-east-1.rds.amazonaws.com/northwind
        
select * from orders limit 5;

5 rows affected.

[(10248, u'VINET', 5, datetime.date(1996, 7, 4), datetime.date(1996, 8, 1), datetime.date(1996, 7, 16), 3, 32.38, u'Vins et alcools Chevalier', u"59 rue de l'Abbaye", u'Reims', None, u'51100', u'France'),
 (10249, u'TOMSP', 6, datetime.date(1996, 7, 5), datetime.date(1996, 8, 16), datetime.date(1996, 7, 10), 1, 11.61, u'Toms Spezialit\xe4ten', u'Luisenstr. 48', u'M\xfcnster', None, u'44087', u'Germany'),
 (10250, u'HANAR', 4, datetime.date(1996, 7, 8), datetime.date(1996, 8, 5), datetime.date(1996, 7, 12), 2, 65.83, u'Hanari Carnes', u'Rua do Pa\xe7o, 67', u'Rio de Janeiro', u'RJ', u'05454-876', u'Brazil'),
 (10251, u'VICTE', 3, datetime.date(1996, 7, 8), datetime.date(1996, 8, 5), datetime.date(1996, 7, 15), 1, 41.34, u'Victuailles en stock', u'2, rue du Commerce', u'Lyon', None, u'69004', u'France'),
 (10252, u'SUPRD', 4, datetime.date(1996, 7, 9), datetime.date(1996, 8, 6), datetime.date(1996, 7, 11), 2, 51.3, u'Supr\xeames d\xe9lices', u'Boulevard Tirou, 255', u'Charleroi', None, u'B-6000', u'Belgium')]

Nice!!! We can now go ahead with the lab!

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

## 1: Inspect the database

If we were connected via console, it would be easy to list all tables using `\dt`. We can however access table information performing a query on the `information_schema.tables` table.

### 1.a: List Tables

1. write a `SELECT` statement that lists all the tables in the public schema of the `northwind` database, sorted alphabetically

In [12]:
%%sql postgresql://dsi_student:gastudents@dsi.c20gkj5cvu3l.us-east-1.rds.amazonaws.com/northwind

SELECT * FROM information_schema.tables
ORDER BY table_name

169 rows affected.

[(u'northwind', u'information_schema', u'administrable_role_authorizations', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'information_schema', u'applicable_roles', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'information_schema', u'attributes', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'public', u'categories', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'information_schema', u'character_sets', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'information_schema', u'check_constraint_routine_usage', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'information_schema', u'check_constraints', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'information_schema', u'collation_character_set_applicability', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'information_schema', u'collations', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'information_schema', u'column_domain_usage', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'information_schema', u'column_options', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'information_schema', u'column_privileges', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'information_schema', u'columns', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'information_schema', u'column_udt_usage', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'information_schema', u'constraint_column_usage', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'information_schema', u'constraint_table_usage', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'public', u'customercustomerdemo', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'public', u'customerdemographics', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'public', u'customers', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'information_schema', u'data_type_privileges', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'information_schema', u'domain_constraints', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'information_schema', u'domains', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'information_schema', u'domain_udt_usage', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'information_schema', u'element_types', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'public', u'employees', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'public', u'employeeterritories', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'information_schema', u'enabled_roles', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'information_schema', u'foreign_data_wrapper_options', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'information_schema', u'foreign_data_wrappers', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'information_schema', u'foreign_server_options', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'information_schema', u'foreign_servers', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'information_schema', u'foreign_table_options', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'information_schema', u'foreign_tables', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'information_schema', u'information_schema_catalog_name', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'information_schema', u'key_column_usage', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'public', u'order_details', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'public', u'orders', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'information_schema', u'parameters', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_aggregate', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_am', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_amop', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_amproc', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_attrdef', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_attribute', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_auth_members', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_available_extensions', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_available_extension_versions', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_cast', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_class', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_collation', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_constraint', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_conversion', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_cursors', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_database', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_db_role_setting', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_default_acl', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_depend', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_description', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_enum', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_event_trigger', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_extension', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_foreign_data_wrapper', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_foreign_server', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_foreign_table', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_group', u'VIEW', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_index', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_indexes', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_inherits', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_language', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_largeobject_metadata', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_locks', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_matviews', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_namespace', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_opclass', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_operator', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_opfamily', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_pltemplate', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_prepared_statements', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_prepared_xacts', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_proc', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_range', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_replication_slots', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_rewrite', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_roles', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_rules', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_seclabel', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_seclabels', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_settings', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_shdepend', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_shdescription', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_shseclabel', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_stat_activity', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_stat_all_indexes', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_stat_all_tables', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_stat_archiver', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_stat_bgwriter', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_stat_database', u'VIEW', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_stat_database_conflicts', u'VIEW', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_statio_all_indexes', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_statio_all_sequences', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_statio_all_tables', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_statio_sys_indexes', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_statio_sys_sequences', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_statio_sys_tables', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_statio_user_indexes', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_statio_user_sequences', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_statio_user_tables', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_stat_replication', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_stats', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_stat_sys_indexes', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_stat_sys_tables', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_stat_user_functions', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_stat_user_indexes', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_stat_user_tables', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_stat_xact_all_tables', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_stat_xact_sys_tables', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_stat_xact_user_functions', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_stat_xact_user_tables', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_tables', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_tablespace', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_timezone_abbrevs', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_timezone_names', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_trigger', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_ts_config', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_ts_config_map', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_ts_dict', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_ts_parser', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_ts_template', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_type', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_user', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_user_mappings', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'pg_catalog', u'pg_views', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'public', u'products', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'information_schema', u'referential_constraints', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'public', u'region', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'information_schema', u'role_column_grants', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'information_schema', u'role_routine_grants', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'information_schema', u'role_table_grants', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'information_schema', u'role_udt_grants', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'information_schema', u'role_usage_grants', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'information_schema', u'routine_privileges', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'information_schema', u'routines', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'information_schema', u'schemata', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'information_schema', u'sequences', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'public', u'shippers', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'public', u'shippers_tmp', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'information_schema', u'sql_features', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'information_schema', u'sql_implementation_info', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'information_schema', u'sql_languages', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'information_schema', u'sql_packages', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'information_schema', u'sql_sizing', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'information_schema', u'sql_sizing_profiles', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'public', u'suppliers', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'information_schema', u'table_constraints', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'information_schema', u'table_privileges', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'information_schema', u'tables', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'public', u'territories', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'information_schema', u'triggered_update_columns', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'information_schema', u'triggers', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'information_schema', u'udt_privileges', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'information_schema', u'usage_privileges', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'information_schema', u'user_defined_types', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'information_schema', u'user_mapping_options', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'information_schema', u'user_mappings', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'public', u'usstates', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'northwind', u'information_schema', u'view_column_usage', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'information_schema', u'view_routine_usage', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'information_schema', u'views', u'VIEW', None, None, None, None, None, u'NO', u'NO', None),
 (u'northwind', u'information_schema', u'view_table_usage', u'VIEW', None, None, None, None, None, u'NO', u'NO', None)]

### 1.b: Print Schemas

The table `INFORMATION_SCHEMA.COLUMNS` contains schema information on each.

Query it to display schemas of all the public tables. In particular we are interested in the column names and data types. Make sure you only include public schemas to avoid cluttering your results with a bunch of postgres related stuff.

In [15]:
%%sql postgresql://dsi_student:gastudents@dsi.c20gkj5cvu3l.us-east-1.rds.amazonaws.com/northwind
        
SELECT "column_name", "data_type" FROM information_schema.columns
WHERE "table_schema" = 'public';

95 rows affected.

[(u'CategoryID', u'smallint'),
 (u'CategoryName', u'character varying'),
 (u'Description', u'text'),
 (u'Picture', u'bytea'),
 (u'CustomerID', u'character'),
 (u'CustomerTypeID', u'character'),
 (u'CustomerTypeID', u'character'),
 (u'CustomerDesc', u'text'),
 (u'CustomerID', u'character'),
 (u'CompanyName', u'character varying'),
 (u'ContactName', u'character varying'),
 (u'ContactTitle', u'character varying'),
 (u'Address', u'character varying'),
 (u'City', u'character varying'),
 (u'Region', u'character varying'),
 (u'PostalCode', u'character varying'),
 (u'Country', u'character varying'),
 (u'Phone', u'character varying'),
 (u'Fax', u'character varying'),
 (u'EmployeeID', u'smallint'),
 (u'LastName', u'character varying'),
 (u'FirstName', u'character varying'),
 (u'Title', u'character varying'),
 (u'TitleOfCourtesy', u'character varying'),
 (u'BirthDate', u'date'),
 (u'HireDate', u'date'),
 (u'Address', u'character varying'),
 (u'City', u'character varying'),
 (u'Region', u'character varying'),
 (u'PostalCode', u'character varying'),
 (u'Country', u'character varying'),
 (u'HomePhone', u'character varying'),
 (u'Extension', u'character varying'),
 (u'Photo', u'bytea'),
 (u'Notes', u'text'),
 (u'ReportsTo', u'smallint'),
 (u'PhotoPath', u'character varying'),
 (u'EmployeeID', u'smallint'),
 (u'TerritoryID', u'character varying'),
 (u'OrderID', u'smallint'),
 (u'ProductID', u'smallint'),
 (u'UnitPrice', u'real'),
 (u'Quantity', u'smallint'),
 (u'Discount', u'real'),
 (u'OrderID', u'smallint'),
 (u'CustomerID', u'character'),
 (u'EmployeeID', u'smallint'),
 (u'OrderDate', u'date'),
 (u'RequiredDate', u'date'),
 (u'ShippedDate', u'date'),
 (u'ShipVia', u'smallint'),
 (u'Freight', u'real'),
 (u'ShipName', u'character varying'),
 (u'ShipAddress', u'character varying'),
 (u'ShipCity', u'character varying'),
 (u'ShipRegion', u'character varying'),
 (u'ShipPostalCode', u'character varying'),
 (u'ShipCountry', u'character varying'),
 (u'ProductID', u'smallint'),
 (u'ProductName', u'character varying'),
 (u'SupplierID', u'smallint'),
 (u'CategoryID', u'smallint'),
 (u'QuantityPerUnit', u'character varying'),
 (u'UnitPrice', u'real'),
 (u'UnitsInStock', u'smallint'),
 (u'UnitsOnOrder', u'smallint'),
 (u'ReorderLevel', u'smallint'),
 (u'Discontinued', u'integer'),
 (u'RegionID', u'smallint'),
 (u'RegionDescription', u'character'),
 (u'ShipperID', u'smallint'),
 (u'CompanyName', u'character varying'),
 (u'Phone', u'character varying'),
 (u'ShipperID', u'smallint'),
 (u'CompanyName', u'character varying'),
 (u'Phone', u'character varying'),
 (u'SupplierID', u'smallint'),
 (u'CompanyName', u'character varying'),
 (u'ContactName', u'character varying'),
 (u'ContactTitle', u'character varying'),
 (u'Address', u'character varying'),
 (u'City', u'character varying'),
 (u'Region', u'character varying'),
 (u'PostalCode', u'character varying'),
 (u'Country', u'character varying'),
 (u'Phone', u'character varying'),
 (u'Fax', u'character varying'),
 (u'HomePage', u'text'),
 (u'TerritoryID', u'character varying'),
 (u'TerritoryDescription', u'character'),
 (u'RegionID', u'smallint'),
 (u'StateID', u'smallint'),
 (u'StateName', u'character varying'),
 (u'StateAbbr', u'character varying'),
 (u'StateRegion', u'character varying')]

### 1.c: Table peek

Another way of quickly looking at table information is to query the first few rows. Do this for a couple of tables, for example: `orders`, `products`, `usstates`. Display only the first 3 rows.

In [17]:
%%sql postgresql://dsi_student:gastudents@dsi.c20gkj5cvu3l.us-east-1.rds.amazonaws.com/northwind
SELECT * FROM orders LIMIT 3

3 rows affected.

[(10248, u'VINET', 5, datetime.date(1996, 7, 4), datetime.date(1996, 8, 1), datetime.date(1996, 7, 16), 3, 32.38, u'Vins et alcools Chevalier', u"59 rue de l'Abbaye", u'Reims', None, u'51100', u'France'),
 (10249, u'TOMSP', 6, datetime.date(1996, 7, 5), datetime.date(1996, 8, 16), datetime.date(1996, 7, 10), 1, 11.61, u'Toms Spezialit\xe4ten', u'Luisenstr. 48', u'M\xfcnster', None, u'44087', u'Germany'),
 (10250, u'HANAR', 4, datetime.date(1996, 7, 8), datetime.date(1996, 8, 5), datetime.date(1996, 7, 12), 2, 65.83, u'Hanari Carnes', u'Rua do Pa\xe7o, 67', u'Rio de Janeiro', u'RJ', u'05454-876', u'Brazil')]

In [18]:
%%sql postgresql://dsi_student:gastudents@dsi.c20gkj5cvu3l.us-east-1.rds.amazonaws.com/northwind
SELECT * FROM products LIMIT 3

3 rows affected.

[(1, u'Chai', 8, 1, u'10 boxes x 30 bags', 18.0, 39, 0, 10, 1),
 (2, u'Chang', 1, 1, u'24 - 12 oz bottles', 19.0, 17, 40, 25, 1),
 (3, u'Aniseed Syrup', 1, 2, u'12 - 550 ml bottles', 10.0, 13, 70, 25, 0)]

In [19]:
%%sql postgresql://dsi_student:gastudents@dsi.c20gkj5cvu3l.us-east-1.rds.amazonaws.com/northwind
SELECT * FROM usstates LIMIT 3

3 rows affected.

[(1, u'Alabama', u'AL', u'south'),
 (2, u'Alaska', u'AK', u'north'),
 (3, u'Arizona', u'AZ', u'west')]

As you can see, some tables (like `usstates` or `region`) contain information that is probably less prone to change than other tables (like `orders` or `order_details`). This database is well organized to avoid unnecessary duplication. Let's start digging deeper in the data.

## 2: Products

What products is this company selling? The `products` and `categories` tables contain information to answer this question.

Use a combination of SQL queries and Pandas merge to answer the following questions:

- What categories of products is the company selling?
- How many products per category does the catalog contain?
- Let's focus only on products that have not been discontinued => how many products per category?
- What are the most expensive 5 products (not discontinued)?
- How many units of each of these 5 products are there in stock?
- Draw a pie chart of the categories, with slices that have the size of the number of products in that category (use non discontinued products)

### 2.a: What categories of products is the company selling?

Remember that PostgreSQL is case sensitive.

In [42]:
%%sql postgresql://dsi_student:gastudents@dsi.c20gkj5cvu3l.us-east-1.rds.amazonaws.com/northwind
SELECT DISTINCT(products."CategoryID"), Categories."CategoryName" FROM products
INNER JOIN "categories" 
ON products."CategoryID" = categories."CategoryID"
ORDER BY "CategoryID"

8 rows affected.

[(1, u'Beverages'),
 (2, u'Condiments'),
 (3, u'Confections'),
 (4, u'Dairy Products'),
 (5, u'Grains/Cereals'),
 (6, u'Meat/Poultry'),
 (7, u'Produce'),
 (8, u'Seafood')]

### 2.b: How many products per category does the catalog contain?

Keep in mind that you can cast a %sql result to a pandas dataframe using the `.DataFrame()` method.

In [45]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://dsi_student:gastudents@dsi.c20gkj5cvu3l.us-east-1.rds.amazonaws.com:5432/northwind')

In [55]:
sql = """
SELECT COUNT("CategoryID"), "CategoryID" FROM products
GROUP BY "CategoryID"
ORDER BY "CategoryID"
"""

pd.read_sql(sql, con = engine)

   count  CategoryID
0     12           1
1     12           2
2     13           3
3     10           4
4      7           5
5      6           6
6      5           7
7     12           8

### 2.c: How many not discontinued products per category?

In [68]:
sql = """
SELECT COUNT("Discontinued"), "CategoryID", "Discontinued" FROM products
WHERE "Discontinued" = 0
GROUP BY "CategoryID", "Discontinued"
"""

pd.read_sql(sql, con = engine)

   count  CategoryID  Discontinued
0      4           7             0
1     13           3             0
2      9           1             0
3     11           2             0
4     12           8             0
5      6           5             0
6      2           6             0
7     10           4             0

### 2.d: What are the most expensive 5 products (not discontinued)?

In [91]:
sql = """
SELECT "UnitsInStock" FROM products
ORDER BY "UnitPrice" DESC
LIMIT 5
"""

pd.read_sql(sql, con = engine)

   UnitsInStock
0            17
1             0
2            29
3            40
4            42

### 2.e: How many units of each of these 5 products are there in stock?

128

### 2.f: Pie Chart

Use pandas to make a pie chart plot.

## 3: Orders

Now that we have a better understanding of products, let's start digging into orders.

- How many orders in total?
- How many orders per year
- How many orders per quarter
- Which country is receiving the most orders
- Which country is receiving the least
- What's the average shipping time (ShippedDate - OrderDate)
- What customer is submitting the highest number of orders?
- What customer is generating the highest revenue (need to pd.merge with order_details)
- What fraction of the revenue is generated by the top 5 customers?

### 3.a: How many orders in total?

In [94]:
sql = """
SELECT COUNT("OrderID") FROM orders LIMIT 10
"""

pd.read_sql(sql, con = engine)

   count
0    830

### 3.b: How many orders per year?

In [104]:
sql = """
SELECT DISTINCT(EXTRACT(year FROM "OrderDate")) FROM orders
"""

pd.read_sql(sql, con = engine)

   date_part
0     1997.0
1     1998.0
2     1996.0

### 3.c: How many orders per quarter?

Make a line plot for these.

In [112]:
sql = """
SELECT DISTINCT(EXTRACT(month FROM "OrderDate")) as "Month", COUNT("OrderID")
FROM orders
GROUP BY "Month"
"""
df = pd.read_sql(sql, con=engine)

def quarter_assigner(x):
    if x <= 3:
        return 1
    elif x <= 6:
        return 2
    elif x <= 9:
        return 3
    else:
        return 4
    
df['Quarter'] = df['Month'].map(quarter_assigner)
        

df.groupby('Quarter')['count'].sum()

Quarter
1    274
2    181
3    173
4    202
Name: count, dtype: int64

### 3.d: Which country is receiving the most orders?

In [120]:
sql = """
SELECT "ShipCountry", COUNT("OrderID") FROM orders
GROUP BY "ShipCountry"
ORDER BY "count" DESC
LIMIT 1
"""
pd.read_sql(sql, con=engine)

  ShipCountry  count
0     Germany    122

### 3.e: Which country is receiving the least?

In [121]:
sql = """
SELECT "ShipCountry", COUNT("OrderID") FROM orders
GROUP BY "ShipCountry"
ORDER BY "count" ASC
LIMIT 1
"""
pd.read_sql(sql, con=engine)

  ShipCountry  count
0      Norway      6

### 3.f: What's the average shipping time (ShippedDate - OrderDate)?

In [128]:
sql = """
SELECT AVG(("ShippedDate" - "OrderDate")) AS "ShippingTime" FROM orders LIMIT 10
"""

pd.read_sql(sql, con=engine)

   ShippingTime
0      8.491965

### 3.g: What customer is submitting the highest number of orders?

In [138]:
sql = """
SELECT "CustomerID", Count("OrderID") FROM orders
GROUP BY "CustomerID"
ORDER BY "count" DESC
LIMIT 1
"""

pd.read_sql(sql, con=engine)

  CustomerID  count
0      SAVEA     31

### 3.h: What customer is generating the highest revenue (need to pd.merge with order_details)?

In [145]:
sql = """
SELECT * FROM orders
"""

pd.read_sql(sql, con = engine)

# df = df.merge(df2)

,OrderID,CustomerID,EmployeeID,OrderDate,RequiredDate,ShippedDate,ShipVia,Freight,ShipName,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry
0,10248,VINET,5,1996-07-04,1996-08-01,1996-07-16,3,32.38,Vins et alcools Chevalier,59 rue de l'Abbaye,Reims,None,51100,France
1,10249,TOMSP,6,1996-07-05,1996-08-16,1996-07-10,1,11.61,Toms Spezialitäten,Luisenstr. 48,Münster,None,44087,Germany
2,10250,HANAR,4,1996-07-08,1996-08-05,1996-07-12,2,65.83,Hanari Carnes,"Rua do Paço, 67",Rio de Janeiro,RJ,05454-876,Brazil
3,10251,VICTE,3,1996-07-08,1996-08-05,1996-07-15,1,41.34,Victuailles en stock,"2, rue du Commerce",Lyon,None,69004,France
4,10252,SUPRD,4,1996-07-09,1996-08-06,1996-07-11,2,51.30,Suprêmes délices,"Boulevard Tirou, 255",Charleroi,None,B-6000,Belgium
5,10253,HANAR,3,1996-07-10,1996-07-24,1996-07-16,2,58.17,Hanari Carnes,"Rua do Paço, 67",Rio de Janeiro,RJ,05454-876,Brazil
6,10254,CHOPS,5,1996-07-11,1996-08-08,1996-07-23,2,22.98,Chop-suey Chinese,Hauptstr. 31,Bern,None,3012,Switzerland
7,10255,RICSU,9,1996-07-12,1996-08-09,1996-07-15,3,148.33,Richter Supermarkt,Starenweg 5,Genève,None,1204,Switzerland
8,10256,WELLI,3,1996-07-15,1996-08-12,1996-07-17,2,13.97,Wellington Importadora,"Rua do Mercado, 12",Resende,SP,08737-363,Brazil
9,10257,HILAA,4,1996-07-16,1996-08-13,1996-07-22,3,81.91,HILARION-Abastos,Carrera 22 con Ave. Carlos Soublette #8-35,San Cristóbal,Táchira,5022,Venezuela
10,10258,ERNSH,1,1996-07-17,1996-08-14,1996-07-23,1,140.51,Ernst Handel,Kirchgasse 6,Graz,None,8010,Austria
11,10259,CENTC,4,1996-07-18,1996-08-15,1996-07-25,3,3.25,Centro comercial Moctezuma,Sierras de Granada 9993,México D.F.,None,05022,Mexico
12,10260,OTTIK,4,1996-07-19,1996-08-16,1996-07-29,1,55.09,Ottilies Käseladen,Mehrheimerstr. 369,Köln,None,50739,Germany
13,10261,QUEDE,4,1996-07-19,1996-08-16,1996-07-30,2,3.05,Que Delícia,"Rua da Panificadora, 12",Rio de Janeiro,RJ,02389-673,Brazil
14,10262,RATTC,8,1996-07-22,1996-08-19,1996-07-25,3,48.29,Rattlesnake Canyon Grocery,2817 Milton Dr.,Albuquerque,NM,87110,USA
15,10263,ERNSH,9,1996-07-23,1996-08-20,1996-07-31,3,146.06,Ernst Handel,Kirchgasse 6,Graz,None,8010,Austria
16,10264,FOLKO,6,1996-07-24,1996-08-21,1996-08-23,3,3.67,Folk och fä HB,Åkergatan 24,Bräcke,None,S-844 67,Sweden
17,10265,BLONP,2,1996-07-25,1996-08-22,1996-08-12,1,55.28,Blondel père et fils,"24, place Kléber",Strasbourg,None,67000,France
18,10266,WARTH,3,1996-07-26,1996-09-06,1996-07-31,3,25.73,Wartian Herkku,Torikatu 38,Oulu,None,90110,Finland
19,10267,FRANK,4,1996-07-29,1996-08-26,1996-08-06,1,208.58,Frankenversand,Berliner Platz 43,München,None,80805,Germany
20,10268,GROSR,8,1996-07-30,1996-08-27,1996-08-02,3,66.29,GROSELLA-Restaurante,5ª Ave. Los Palos Grandes,Caracas,DF,1081,Venezuela
21,10269,WHITC,5,1996-07-31,1996-08-14,1996-08-09,1,4.56,White Clover Markets,1029 - 12th Ave. S.,Seattle,WA,98124,USA
22,10270,WARTH,1,1996-08-01,1996-08-29,1996-08-02,1,136.54,Wartian Herkku,Torikatu 38,Oulu,None,90110,Finland
23,10271,SPLIR,6,1996-08-01,1996-08-29,1996-08-30,2,4.54,Split Rail Beer & Ale,P.O. Box 555,Lander,WY,82520,USA
24,10272,RATTC,6,1996-08-02,1996-08-30,1996-08-06,2,98.03,Rattlesnake Canyon Grocery,2817 Milton Dr.,Albuquerque,NM,87110,USA
25,10273,QUICK,3,1996-08-05,1996-09-02,1996-08-12,3,76.07,QUICK-Stop,Taucherstraße 10,Cunewalde,None,01307,Germany
26,10274,VINET,6,1996-08-06,1996-09-03,1996-08-16,1,6.01,Vins et alcools Chevalier,59 rue de l'Abbaye,Reims,None,51100,France
27,10275,MAGAA,1,1996-08-07,1996-09-04,1996-08-09,1,26.93,Magazzini Alimentari Riuniti,Via Ludovico il Moro 22,Bergamo,None,24100,Italy
28,10276,TORTU,8,1996-08-08,1996-08-22,1996-08-14,3,13.84,Tortuga Restaurante,Avda. Azteca 123,México D.F.,None,05033,Mexico
29,10277,MORGK,2,1996-08-09,1996-09-06,1996-08-13,3,125.77,Morgenstern Gesundkost,Heerstr. 22,Leipzig,None,04179,Germany
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
800,11048,BOTTM,7,1998-04-24,1998-05-22,1998-04-30,3,24.12,Bottom-Dollar Markets,23 Tsawassen Blvd.,Tsawassen,BC,T2F 8M4,Canada
801,11049,GOURL,3,1998-04-24,1998-05-22,1998-05-04,1,8.34,Gourmet Lanchonetes,"Av. Brasil, 442",Campinas,SP,04876-786,Brazil
802,11050,FOLKO,8,1998-04-27,1998-05-25,1998-05-05,2,59.41,Folk och fä HB,Åkergatan 24,Bräcke,None,S-844 67,Sweden
803,11051,LAMAI,7,1998-04-27,1998-05-25,None,3,2.79,La maison d'Asie,1 rue Alsace-Lorraine,Toulouse,None,31000,France
804,11052,HANAR,3,1998-04-27,1998-05-25,1998-05-01,1,67.26,Hanari Carnes,"Rua do Paço, 67",Rio de Janeiro,RJ,05454-876,Brazil
805,11053,PICCO,2,1998-04-27,1998-05-25,1998-04-29,2,53.05,Piccolo und mehr,Geislweg 14,Salzburg,None,5020,Austria
806,11054,CACTU,8,1998-04-28,1998-05-26,None,1,0.33,Cactus Comidas para llevar,Cerrito 333,Buenos Aires,None,1010,Argentina
807,11055,HILAA,7,1998-04-28,1998-05-26,1998-05-05,2,120.92,HILARION-Abastos,Carrera 22 con Ave. Carlos Soublette #8-35,San Cristóbal,Táchira,5022,Venezuela
808,11056,EASTC,8,1998-04-28,1998-05-12,1998-05-01,2,278.96,Eastern Connection,35 King George,London,None,WX3 6FW,UK
809,11057,NORTS,3,1998-04-29,1998-05-27,1998-05-01,3,4.13,North/South,South House 300 Queensbridge,London,None,SW7 1RZ,UK
810,11058,BLAUS,9,1998-04-29,1998-05-27,None,3,31.14,Blauer See Delikatessen,Forsterstr. 57,Mannheim,None,68306,Germany
811,11059,RICAR,2,1998-04-29,1998-06-10,None,2,85.80,Ricardo Adocicados,"Av. Copacabana, 267",Rio de Janeiro,RJ,02389-890,Brazil
812,11060,FRANS,2,1998-04-30,1998-05-28,1998-05-04,2,10.98,Franchi S.p.A.,Via Monte Bianco 34,Torino,None,10100,Italy
813,11061,GREAL,4,1998-04-30,1998-06-11,None,3,14.01,Great Lakes Food Market,2732 Baker Blvd.,Eugene,OR,97403,USA
814,11062,REGGC,4,1998-04-30,1998-05-28,None,2,29.93,Reggiani Caseifici,Strada Provinciale 124,Reggio Emilia,None,42100,Italy
815,11063,HUNGO,3,1998-04-30,1998-05-28,1998-05-06,2,81.73,Hungry Owl All-Night Grocers,8 Johnstown Road,Cork,Co. Cork,None,Ireland
816,11064,SAVEA,1,1998-05-01,1998-05-29,1998-05-04,1,30.09,Save-a-lot Markets,187 Suffolk Ln.,Boise,ID,83720,USA
817,11065,LILAS,8,1998-05-01,1998-05-29,None,1,12.91,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,Lara,3508,Venezuela
818,11066,WHITC,7,1998-05-01,1998-05-29,1998-05-04,2,44.72,White Clover Markets,1029 - 12th Ave. S.,Seattle,WA,98124,USA
819,11067,DRACD,1,1998-05-04,1998-05-18,1998-05-06,2,7.98,Drachenblut Delikatessen,Walserweg 21,Aachen,None,52066,Germany
820,11068,QUEEN,8,1998-05-04,1998-06-01,None,2,81.75,Queen Cozinha,"Alameda dos Canàrios, 891",Sao Paulo,SP,05487-020,Brazil
821,11069,TORTU,1,1998-05-04,1998-06-01,1998-05-06,2,15.67,Tortuga Restaurante,Avda. Azteca 123,México D.F.,None,05033,Mexico
822,11070,LEHMS,2,1998-05-05,1998-06-02,None,1,136.00,Lehmanns Marktstand,Magazinweg 7,Frankfurt a.M.,None,60528,Germany
823,11071,LILAS,1,1998-05-05,1998-06-02,None,1,0.93,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,Lara,3508,Venezuela
824,11072,ERNSH,4,1998-05-05,1998-06-02,None,2,258.64,Ernst Handel,Kirchgasse 6,Graz,None,8010,Austria
825,11073,PERIC,2,1998-05-05,1998-06-02,None,2,24.95,Pericles Comidas clásicas,Calle Dr. Jorge Cash 321,México D.F.,None,05033,Mexico
826,11074,SIMOB,7,1998-05-06,1998-06-03,None,2,18.44,Simons bistro,Vinbæltet 34,Kobenhavn,None,1734,Denmark
827,11075,RICSU,8,1998-05-06,1998-06-03,None,2,6.19,Richter Supermarkt,Starenweg 5,Genève,None,1204,Switzerland
828,11076,BONAP,4,1998-05-06,1998-06-03,None,2,38.28,Bon app',"12, rue des Bouchers",Marseille,None,13008,France
829,11077,RATTC,1,1998-05-06,1998-06-03,None,2,8.53,Rattlesnake Canyon Grocery,2817 Milton Dr.,Albuquerque,NM,87110,USA

In [163]:
sql = """
SELECT orders."ShipCountry", SUM(order_details."UnitPrice" * order_details."Quantity") AS "Total"
FROM orders
INNER JOIN "order_details"
ON orders."OrderID" = order_details."OrderID"
GROUP BY "ShipCountry"
ORDER BY "Total" DESC
"""

df = pd.read_sql(sql, con = engine)

df.head()

  ShipCountry          Total
0         USA  263566.980017
1     Germany  244640.629969
2     Austria  139496.629867
3      Brazil  114968.480040
4      France   85498.760092

### 3.i: What fraction of the revenue is generated by the top 5 customers?

Compare that with the fraction represented by 5 customers over the total number of customers.

In [166]:
top5rev = df.head().Total.sum()

totalrev = df.Total.sum()

revfrac = top5rev / totalrev

revfrac

0.626207021735514

Wow!! 5.5% of the customers generate a third of the revenue!!

## Bonus: Other tables

Investigate the content of other tables. In particular lookt at the `suppliers`, `shippers` and `employees` tables.