# Multi-table Datasets - ENRON Archive

## 1. Data import

Connect to the file 'assets/datasets/enron.db' using one of these methods:

- sqlite3 python package
- pandas.read_sql
- SQLite Manager Firefox extension

Take a look at the database and query the master table. How many Tables are there in the db?

> Answer:
There are 3 tables:
- MessageBase
- RecipientBase
- EmployeeBase

In [6]:
import sqlite3
import pandas as pd
sqlite_db = '../../assets/datasets/enron.db'
conn = sqlite3.connect(sqlite_db) 
c = conn.cursor()

Query the `sqlite_master` table to retrieve the schema of the `EmployeeBase` table.

1. What fields are there?
1. What's the type of each of them?

In [20]:
employee_base.columns

Index([u'eid', u'name', u'department', u'longdepartment', u'title', u'gender',
       u'seniority'],
      dtype='object')

In [21]:
employee_base.dtypes

eid                int64
name              object
department        object
longdepartment    object
title             object
gender            object
seniority         object
dtype: object

In [11]:
sql = """
SELECT * FROM sqlite_master
WHERE type = 'table'
"""

df = pd.read_sql(sql, con = conn)
df

,type,name,tbl_name,rootpage,sql
0,table,MessageBase,MessageBase,3,"CREATE TABLE MessageBase (\n mid INTEGER,\n..."
1,table,RecipientBase,RecipientBase,5,"CREATE TABLE RecipientBase (\n mid INTEGER,..."
2,table,EmployeeBase,EmployeeBase,2,CREATE TABLE EmployeeBase (\n ...

In [12]:
sql1 = """
SELECT * FROM EmployeeBase"""

employee_base = pd.read_sql(sql1, con=conn)
employee_base

,eid,name,department,longdepartment,title,gender,seniority
0,1,John Arnold,Forestry,ENA Gas Financial,VP Trading,Male,Senior
1,2,Harry Arora,Forestry,ENA East Power,VP Trading,Male,Senior
2,3,Robert Badeer,Forestry,ENA West Power,Mgr Trading,Male,Junior
3,4,Susan Bailey,Legal,ENA Legal,Specialist Legal,Female,Junior
4,5,Eric Bass,Forestry,ENA Gas Texas,Trader,Male,Junior
5,6,Don Baughman Jr.,Forestry,ENA East Power,Mgr Trading,Male,Junior
6,7,Sally Beck,Other,Energy Operations,VP,Female,Senior
7,8,Robert Benson,Forestry,ENA East Power,Dir Trading,Male,Senior
8,9,Lynn Blair,Other,ETS,Director,Female,Senior
9,10,Sandra F. Brawner,Forestry,ENA Gas East,Dir Trading,Female,Senior
10,11,Rick Buy,Forestry,Enron,VP & CRO,Male,Senior
11,12,Larry Campbell,Other,ETS,Specialist,Male,Junior
12,13,Larry F. Campbell,Other,ENA East Power,Specialist,Male,Junior
13,14,Mike Carson,Forestry,ENA East Power,Mgr Trading,Male,Junior
14,15,Michelle Cash,Legal,ENA Legal,Attorney,Female,Junior
15,16,Monika Causholli,Other,ENA West Power Real Time,Analyst,Female,Junior
16,17,Shelley Corman,Other,ETS,VP,Female,Senior
17,18,Sean Crandall,Forestry,ENA West Power,Dir Trading,Male,Senior
18,19,Martin Cuilla,Forestry,ENA Gas Central,Mgr Trading,Male,Junior
19,20,Jeff Dasovich,Legal,Regulatory and Government Affairs,Director,Male,Senior
20,21,Dana Davis,Other,NA,Administrator,Female,Junior
21,22,Clint Dean,Forestry,ENA East Power,Mgr Trading,Male,Junior
22,23,Craig Dean,Other,ENA West Power Real Time,Specialist,Male,Junior
23,24,David W. Delainey,Other,EWS,President & CEO,Male,Senior
24,25,James Derrick Jr.,Legal,Enron,VP & Gen Cnsl,Male,Senior
25,26,Stacy E. Dickson,Legal,ENA Legal,Cnsl,Female,Junior
26,27,Lindy Donoho,Other,ETS,Employee,Female,Junior
27,28,Tom Donohoe,Forestry,ENA Gas Central,Mgr Trading,Male,Junior
28,29,Chris Dorland,Forestry,ENA East Power,Mgr Trading,Male,Junior
29,30,Frank Ermis,Forestry,ENA Gas West,Dir Trading,Male,Senior
...,...,...,...,...,...,...,...
126,127,Geir Solberg,Other,ENA West Power Real Time,Analyst,Male,Junior
127,128,Steven P. South,Forestry,ENA Gas West,Dir Trading,Male,Senior
128,129,Theresa Staab,Other,ENA Gas West,Specialist,Female,Junior
129,130,Carol St Clair,Legal,ENA Legal,Director & Gen Cnsl Asst,Female,Senior
130,131,James D. Steffes,Legal,Regulatory and Government Affairs,VP of Government Affairs,Male,Senior
131,132,Joe Stepenovitch,Other,ENA East Power,Specialist,Male,Junior
132,133,Chris Stokley,Other,ENA West Power,Specialist,Male,Junior
133,134,Geoff Storey,Forestry,ENA Gas Central,Dir Trading,Male,Senior
134,135,Fletcher J. Sturm,Forestry,ENA East Power,VP Trading,Male,Senior
135,136,Mike Swerzbin,Forestry,ENA West Power,VP Trading,Male,Senior
136,137,Kate Symes,Other,ENA West Power Real Time,Employee,Female,Junior
137,138,Mark E. Taylor,Legal,ENA Legal,VP & Gen Cnsl,Male,Senior
138,139,Michael E. Taylor,Forestry,Energy Operations,Trader,Male,Junior
139,140,Jane M. Tholt,Forestry,ENA Gas West,Dir Trading,Female,Senior
140,141,Paul D. Thomas,Other,ENA East Power,Associate,Male,Junior
141,142,Judy Townsend,Forestry,ENA Gas East,Mgr Trading,Female,Junior
142,143,Barry Tycholiz,Forestry,ENA Gas West,VP Trading,Male,Senior
143,144,Kim S. Ward,Forestry,ENA Gas West,Mgr Trading,Female,Junior
144,145,Kimberly Watson,Other,ETS,Director,Female,Senior
145,146,V Charles Weldon,Other,ENA Gas Texas,Associate,Male,Junior
146,147,Greg Whalley,Other,EWS,President & CEO,Male,Senior
147,148,Stacey W. White,Other,Energy Operations,Director,Female,Senior
148,149,Mark Whitt,Forestry,ENA Gas West,VP Trading,Male,Senior
149,150,Jason Williams,Other,ENA Gas Central,Specialist,Male,Junior
150,151,Bill Williams III,Other,ENA West Power Real Time,Analyst,Male,Junior
151,152,Jason Wolfe,Other,ENA Gas West,Analyst,Male,Junior
152,153,Paul Y’Barbo,Other,ETS,Director,Male,Senior
153,154,Andy Zipper,Other,EWS,VP of Enron Online,Male,Senior
154,155,John Zufferli,Other,EWS,VP of Enron Canada,Male,Senior
155,156,Phillip K. Allen,Forestry,ENA Gas West,Mng Dir Trading,Male,Senior

In [14]:
sql2 = """
SELECT * FROM MessageBase"""

message_base = pd.read_sql(sql2, con=conn)
message_base

,mid,filename,unix_time,subject,from_eid
0,1,taylor-m/sent/11,910930020,Cd$ CME letter,138
1,2,taylor-m/sent/17,911459940,Indemnification,138
2,3,taylor-m/sent/18,911463840,Re: Indemnification,138
3,4,taylor-m/sent/23,911874180,"Re: Coral Energy, L.P.",138
4,5,taylor-m/sent/27,912396120,Bankruptcy Code revisions,138
5,6,taylor-m/sent/31,912570420,Re: Position Description,138
6,7,taylor-m/sent/33,912576240,Koch,138
7,8,taylor-m/sent/40,912685080,Re: Time to Celebrate!,138
8,9,taylor-m/sent/41,912734100,Re: Vacation Request,138
9,10,taylor-m/sent/44,913166040,Re: Last Message,138
10,11,taylor-m/sent/45,913166220,Trading Documentation - Reminder,138
11,12,taylor-m/sent/52,913770180,Cancellation of Swap Group Meeting,138
12,13,taylor-m/sent/57,913797300,HL&P,138
13,14,taylor-m/sent/62,913950120,Re: Waste Managment Inc.,138
14,15,taylor-m/all_documents/73,914218140,Indemnification Agreement,15
15,16,taylor-m/sent/71,914298240,Re: ECT SA Legal Team Meeting,138
16,17,taylor-m/all_documents/8545,914997420,1998 Bonus & 1999 Merit Year-End Process Infor...,45
17,18,taylor-m/sent/77,915416460,Ormet,138
18,19,taylor-m/sent/78,915423060,Ormet,138
19,20,taylor-m/sent/82,915698520,Friday telephone call,138
20,21,taylor-m/sent/83,915698760,JEDI II,138
21,22,taylor-m/sent/84,915699540,Re: Master Swap Agreement for HL&P,138
22,23,taylor-m/sent/86,915766680,Re: JEDI II,138
23,24,taylor-m/sent/87,915783300,Taking cash collateral in Canada,138
24,25,taylor-m/sent/88,915785640,UK Courts vs. Arbitration for UK Swap Agreements,138
25,26,taylor-m/sent/90,916104300,Houston,138
26,27,taylor-m/sent/95,916198740,Re: UK Courts vs. Arbitration for UK Swap Agre...,138
27,28,taylor-m/sent/96,916209660,Paralegal Position,138
28,29,taylor-m/sent/105,916363200,Thursday - Option Investor Newsletter 2 of 2,138
29,30,taylor-m/sent/110,916384920,Financial Trading Documentation,138
...,...,...,...,...,...
21605,21606,germany-c/bankrupt/enron_compressor_services/8,1017754397,FW: ADDENDUM,39
21606,21607,germany-c/sent_items/410,1018254951,Hey,39
21607,21608,germany-c/personal/16,1018298775,Re: Hey,94
21608,21609,germany-c/bankrupt/transport/sonat/3,1018342581,RE: Sonat Park & Loan,39
21609,21610,germany-c/personal/15,1018377766,Re: Hey,94
21610,21611,germany-c/personal/14,1018535392,Re: Hey,94
21611,21612,germany-c/sent_items/364,1018596219,RE: email addresses,39
21612,21613,gang-l/deleted_items/387,1018855591,FW: Tag's that EPE did not have,151
21613,21614,germany-c/sent_items/350,1018856894,Transco scoop,39
21614,21615,germany-c/sent_items/290,1019550488,Midland Cogeneration for May 2002,39
21615,21616,germany-c/sent_items/285,1019557327,,39
21616,21617,germany-c/bankrupt/transport/el_paso/6,1020157644,RE: EPNG Stipulation -- Rejection of ROFR Cont...,77
21617,21618,germany-c/bankrupt/transport/el_paso/4,1020161393,RE: EPNG Stipulation -- Rejection of ROFR Cont...,77
21618,21619,germany-c/bankrupt/transport/el_paso/2,1020260212,Re: URGENT -- BTRC for the El Paso and Tenne...,77
21619,21620,germany-c/sent_items/202,1020348659,Activity,39
21620,21621,parks-j/sent_items/78,1020348733,RE: Activity,93
21621,21622,germany-c/sent_items/201,1020348774,RE: Activity,39
21622,21623,germany-c/bankrupt/16,1020779689,Master Termination Log,92
21623,21624,germany-c/bankrupt/14,1020926043,Master Termination Log,92
21624,21625,germany-c/bankrupt/13,1020954843,Master Termination Log,92
21625,21626,germany-c/bankrupt/12,1021030840,Information Tools Memo,4
21626,21627,germany-c/bankrupt/transport/national_fuel/4,1021882185,RE: Nation Fuel Gas Supply Corporation --- E...,77
21627,21628,germany-c/personal/3,1022064217,Sorry for the blank email...here's the real deal,118
21628,21629,germany-c/inbox/66,1022531554,Re: Update,94
21629,21630,germany-c/calendar/5,1022598148,Updated: Meeting regarding transport and storage,77
21630,21631,germany-c/inbox/49,1023708531,NNG Deals,39
21631,21632,germany-c/sent_items/74,1023873633,Job Ops,39
21632,21633,germany-c/personal/1,1023873696,RE: Job Ops,57
21633,21634,germany-c/inbox/42,1023970571,Netting Agreement Materials,4
21634,21635,germany-c/inbox/23,1024666654,Master Termination Log,92

In [15]:
sql3 = """
SELECT * FROM RecipientBase"""

recipient_base = pd.read_sql(sql3, con=conn)
recipient_base

         mid  rno  to_eid
0          1    1      59
1          2    1      15
2          3    1      15
3          4    1     109
4          4    2      49
5          4    3     120
6          4    4      59
7          5    1      45
8          5    2      53
9          6    1     113
10         7    1      59
11         8    1      59
12         9    1      49
13        10    1      59
14        11    1      59
15        12    1      49
16        12    2     120
17        12    3      59
18        13    1      59
19        14    1      59
20        15    1     138
21        16    1      58
22        16    2      26
23        16    3      45
24        16    4      53
25        17    1     138
26        17    2     113
27        17    3      53
28        18    1      53
29        19    1      59
...      ...  ...     ...
38358  21627    1      39
38359  21628    1      55
38360  21628    2      76
38361  21628    3      62
38362  21628    4     112
38363  21628    5      69
38364  21628    6     140
38365  21628    7      79
38366  21628    8     156
38367  21628    9      43
38368  21628   10     152
38369  21628   11      39
38370  21628   12      66
38371  21628   13      30
38372  21628   14     128
38373  21628   15      36
38374  21628   16       3
38375  21629    1      39
38376  21630    1      39
38377  21631    1     120
38378  21632    1      57
38379  21633    1      39
38380  21634    1      92
38381  21634    2     113
38382  21634    3      77
38383  21634    4      39
38384  21634    5     120
38385  21635    1      39
38386  21635    2     120
38387  21635    3       4

[38388 rows x 3 columns]

1. Print the first 5 rows of EmployeeBase table
1. Print the first 5 rows of MessageBase table
1. Print the first 5 rows of RecipientBase table

**Hint**  use `SELECT` and `LIMIT`.

In [16]:
employee_base.head()

,eid,name,department,longdepartment,title,gender,seniority
0,1,John Arnold,Forestry,ENA Gas Financial,VP Trading,Male,Senior
1,2,Harry Arora,Forestry,ENA East Power,VP Trading,Male,Senior
2,3,Robert Badeer,Forestry,ENA West Power,Mgr Trading,Male,Junior
3,4,Susan Bailey,Legal,ENA Legal,Specialist Legal,Female,Junior
4,5,Eric Bass,Forestry,ENA Gas Texas,Trader,Male,Junior

In [17]:
message_base.head()

   mid          filename  unix_time                    subject  from_eid
0    1  taylor-m/sent/11  910930020             Cd$ CME letter       138
1    2  taylor-m/sent/17  911459940            Indemnification       138
2    3  taylor-m/sent/18  911463840        Re: Indemnification       138
3    4  taylor-m/sent/23  911874180     Re: Coral Energy, L.P.       138
4    5  taylor-m/sent/27  912396120  Bankruptcy Code revisions       138

In [18]:
recipient_base.head()

   mid  rno  to_eid
0    1    1      59
1    2    1      15
2    3    1      15
3    4    1     109
4    4    2      49

Import each of the 3 tables to a Pandas Dataframes

## 2. Data Exploration

Use the 3 dataframes to answer the following questions:

1. How many employees are there in the company?
- How many messages are there in the database?
- Convert the timestamp column in the messages. When was the oldest message sent? And the newest?
- Some messages are sent to more than one recipient. Group the messages by message_id and count the number of recepients. Then look at the distribution of recepient numbers.
    - how many messages have only one recepient?
    - how many messages have >= 5 recepients?
    - what's the highest number of recepients?
    - who sent the message with the highest number of recepients?
- plot the distribution of recepient numbers using Bokeh

In [28]:
employee_base.head()

,eid,name,department,longdepartment,title,gender,seniority
0,1,John Arnold,Forestry,ENA Gas Financial,VP Trading,Male,Senior
1,2,Harry Arora,Forestry,ENA East Power,VP Trading,Male,Senior
2,3,Robert Badeer,Forestry,ENA West Power,Mgr Trading,Male,Junior
3,4,Susan Bailey,Legal,ENA Legal,Specialist Legal,Female,Junior
4,5,Eric Bass,Forestry,ENA Gas Texas,Trader,Male,Junior

In [27]:
len(employee_base['name'].unique())

156

In [29]:
message_base.head()

   mid          filename  unix_time                    subject  from_eid
0    1  taylor-m/sent/11  910930020             Cd$ CME letter       138
1    2  taylor-m/sent/17  911459940            Indemnification       138
2    3  taylor-m/sent/18  911463840        Re: Indemnification       138
3    4  taylor-m/sent/23  911874180     Re: Coral Energy, L.P.       138
4    5  taylor-m/sent/27  912396120  Bankruptcy Code revisions       138

In [31]:
message_base['mid'].count()

21635

In [32]:
message_base['unix_time'] = pd.to_datetime(message_base['unix_time'],unit='s')

message_base.head()

,mid,filename,unix_time,subject,from_eid
0,1,taylor-m/sent/11,1998-11-13 04:07:00,Cd$ CME letter,138
1,2,taylor-m/sent/17,1998-11-19 07:19:00,Indemnification,138
2,3,taylor-m/sent/18,1998-11-19 08:24:00,Re: Indemnification,138
3,4,taylor-m/sent/23,1998-11-24 02:23:00,"Re: Coral Energy, L.P.",138
4,5,taylor-m/sent/27,1998-11-30 03:22:00,Bankruptcy Code revisions,138

Rescale to investigate the tail of the curve

In [34]:
print message_base['unix_time'].max()
print message_base['unix_time'].min()

2002-06-21 13:37:34
1998-11-13 04:07:00

In [41]:
message_base.groupby(['from_eid'])['mid'].count()

from_eid
1       341
2        16
3        12
4       125
5       318
6        73
7       180
8         2
9       210
10       24
11       51
12        9
13        9
14       10
15       67
16        7
17      167
18       34
19       31
20     1597
21        1
22       10
23        5
24      290
25       41
26       95
27      150
28        7
29       92
30       15
       ...
126      40
127      26
128      10
129      50
130     654
131     859
132       8
133      16
134      22
135      65
136      10
137     244
138     658
140      66
141      10
142      15
143     189
144     237
145     409
146      26
147      56
148      40
149     227
150       5
151     302
152      15
153      21
154      87
155      31
156     196
Name: mid, dtype: int64

## 3. Data Merging

Use the pandas merge function to combine the information in the 3 dataframes to answer the following questions:

1. Are there more Men or Women employees?
- How is gender distributed across departments?
- Who is sending more emails? Men or Women?
- What's the average number of emails sent by each gender?
- Are there more Juniors or Seniors?
- Who is sending more emails? Juniors or Seniors?
- Which department is sending more emails? How does that relate with the number of employees in the department?
- Who are the top 3 senders of emails? (people who sent out the most emails)

Also answer the following questions regarding received messages

- Who is receiving more emails? Men or Women?
- Who is receiving more emails? Juniors or Seniors?
- Which department is receiving more emails? How does that relate with the number of employees in the department?
- Who are the top 5 receivers of emails? (people who received the most emails)

Which employees sent the most 'mass' emails?

Keep exploring the dataset, which other questions would you ask?

Work in pairs. Give each other a challenge and try to solve it.